button {
	margin-top: 20px;
	margin-left: 20px;
	border: none;
	height: 25px;
	width: 80px;
}

button[type="submit"] {
	background-color: #C1D7AE;
}

button[type="button"] {
	background-color: #F4897B;
}

input[type="text"] {
  margin-left: 20px;
  height: 20px;
}

